<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxyg'Haine</title>
    <link rel="stylesheet" href="css\main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
        </style>
</head>



<body>



    <div class="container">
        <div class="logo"><img src="img/deux-removebg-preview.png" height="150px" width="190px"></div>
        <div class="mainname">
           <h1>OXYG'HAINE</h1>
        </div>
    </div>

    <center><h4><i>"J'adore l'air : dans 20, 30 ans y'en aura plus"</i> <br> - Un Belge très musclé</h4></center>


        <div class="home">
                <aside class="sidebar">
                        <h2> Navigation </h2>

                        <div class="dropdown">
                            <button class="Europe">Produits d'Europe</button>
                            <div class="dropdown-child">
                                <a href="VLyon.ejs">Capsule d'air de Lyon</a>
                                <a href="VLisbonne.ejs">Capsule d'air de Lisbonne</a>
                                <a href="VLondres.ejs">Capsule d'air de Londres</a>
                                <a href="VBarcelone.ejs">Capsule d'air de Barcelone</a>
                                <a href="VPorto.ejs">Capsule d'air de Porto</a>
                                <a href="VParis.ejs">Capsule d'air de Paris</a>
                                <a href="VRome.ejs">Capsule d'air de Rome</a>
                            </div>
                        </div>
                    
                    <div class="dropdown">
                        <button class="Asie">Produits d'Asie</button>
                        <div class="dropdown-child">
                        <a href="VSingapour.ejs">Capsule d'air de Singapour</a>
                        <a href="VAnkara.ejs">Capsule d'air de Ankara</a>
                        <a href="VSeoul.ejs">Capsule d'air de Séoul</a>
                        <a href="VTokyo.ejs">Capsule d'air de Tokyo</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="Afrique">Produits d'Afrique</button>
                        <div class="dropdown-child">
                        <a href="VMarrakech.ejs">Capsule d'air de Marrakech</a>
                        </div>
                    </div>
                </aside>

                    <div class="content">
                        <h2><i><u> Meilleures ventes de la semaine </i></u></h2>

                        <div class="container2">
                            <a href="VLyon.ejs"><img src="img\0-removebg-preview.png", width="225px", height="150px"><h5>Lyon <br> 50€ (100ml)</h5></a>
                            <a href="VLisbonne.ejs"><img src="img\Lisbonne.png", width="225px", height="150px"><h5>Lisbonne <br> 50€ (100ml)</h5></a>
                            <a href="VLondres.ejs"><img src="img\Londres.png", width="225px", height="150px"><h5>Londres <br> 50€ (100ml)</h5></a>
                            <a href="VBarcelone.ejs"><img src="img\Barcelone.png", width="225px", height="150px"><h5>Barcelone <br> 50€ (100ml)</h5></a>
                        </div>

                        <h2><i><u> Promotions </i></u></h2>

                        <div class="container2">
                            <a href="VPorto.ejs"><img src="img\Porto.png", width="225px", height="150px"><h5>Porto <br> 48€ (100ml)</h5></a>
                            <a href="VParis.ejs"><img src="img\Paris.png", width="225px", height="150px"><h5>Paris <br> 48€ (100ml)</h5></a>
                            <a href="VRome.ejs"><img src="img\Rome.png", width="225px", height="150px"><h5>Rome <br> 48€ (100ml)</h5></a>
                            <a href="VSingapour.ejs"><img src="img\Singapour.png", width="225px", height="150px"><h5>Singapour <br> 48€ (100ml)</h5></a>
                        </div>
                    

                        

                            <footer class="footer">
                                <center>
                                    <h5> Nous contacter</h5>
                                    <li><a href="https://www.instagram.com/oxyghaine/">Instagram</a></li>
                                    <li><a href="mailto:oxyghaine.contact@toz.com">Mail</a></li>
                                    <h6> Mentions legales <br> Oxyg'Haine est une marque deposée par Oxyg'Corp, tout droits reservés. </h6>
                                </center>
                            </footer>
                        
                        </div>

                    <aside class="sidebar2">
                        <a href="panier.ejs
                        "><h2>Panier</h2></a>
                    </aside>

        </div>
    
</body>





</html>